.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  align-items: stretch;
  justify-items: stretch;
  padding-right: 200px;
  padding-left: 200px;
  margin-bottom: 100px;
  /*padding: 0px 200px;*/
}

h3 {
  font-weight: bold;
}
.box_about {
  background-color: pink;
  grid-row-start: 1;
  grid-row-end: span 2;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 50px;
  background-color: #E0E0E0;
  /*height: 400px;*/
}

.box_listen {
  background-color: green;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 50px;
  background-color: #E0E0E0;
  }

.box_vote {
  background-color: lightblue;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 50px;
  background-color: #E0E0E0;
  }

.box_update {
  background-color: violet;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #E0E0E0;
  }

.box_profile {
  background-color: orange;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #E0E0E0;
  }

.material-icons {
  text-align: center;
  padding-top: 10px;
  font-size: 60px;
}
