

footer {
  bottom: 0;
  position: fixed;
  background-color: #141414;
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.icons i {
  padding-left: 10px;
  padding-right: 10px;
}

.about {
text-align: right;
}

.copyright {
font-size: 12px;
}

.icons {
text-align: left;
}

.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-logo > img {
  align-self: center;
}
.footer-logo > h1 {
  align-self: center;
  font-size: 25px;
}

footer .logo {
  height: 50px;
  width: auto;
}
