.users_liked{
  grid-column: 3;
  text-align: right;
  float: right;
  padding-top: 50px;
}
.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  grid-column:2;
  padding-top: 50px;

}
.cover > #albumHolder {
  grid-column: 1 / span 2;
  width: 100%;
  border: 4px solid #E0E0E0;
  box-sizing: border-box;
  overflow: hidden;
}

.cover > #albumHolder > #albumCover {
  width: 100%;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.cover > button {
  align-self: center;
  justify-self: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 4px solid #E0E0E0;
  border-radius: 50px;
}

.cover > button:hover {
  border: 4px solid black;
}
.cover material-icons:hover{
  color: #E0E0E0;
}

.good {



}

button > i.material-icons {
   z-index: -1;
}

.cover > .music {
  grid-column: 1 / span 2;
  padding-top: 20px;
  padding-bottom: 20px;

}
.song_info{
  grid-column:1;
  float: left;
  text-align: left;
  padding-top: 50px;
}

.page{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.user_list{
  list-style: none;
  text-align: right;
  float: right;
  }
  .user_list li::after {
    content: " -";
  }
  .cover .material-icons{
    font-size: 50px;
  }

  .pic img {
    width:40px;
  }

  .user_like a {
    display: inline-block;
  }

.user_like span {
  position: relative;
  top: -14px;
}