/* css for the profile page goes here */
.grid {
  display: grid;
  grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
  grid-template-rows: 50% 50%;

}

img {
  padding: 35px;
  width:200px;
  height:200px
}

h3 {
  text-align: center;
}

.name {
  padding-top: 15px;
  font-size: 70px;
  grid-column-start: 2;
  grid-column-end: 12;
}

.box {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #FF5200;
  grid-column-start: 2;
  grid-column-end: 12;
}

.likebox {
  display: grid;
  margin-top: 50px;
  margin-right: 2%;
  height: 100%;
  width: 98%;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 7;
  grid-row-end: 2;
  background-color: #E0E0E0;
}

.dislikebox {
  display: grid;
  margin-top: 50px;
  margin-left: 2%;
  height: 100%;
  width:98%;
  grid-column-start: 7;
  grid-row-start: 2;
  grid-column-end: 12;
  grid-row-end: 2;
  background-color: #E0E0E0;
}


.l_table {
  width: 100%;
  padding-left: 70px;
}

.l_name {
  font-size: 20px;
}

.d_name {
  font-size: 20px;
}

.d_table {
  width: 100%;
  padding-left: 70px;
}

.material-icons {
  text-align: center;
  padding-top: 10px;
  font-size: 60px;

}
.icons {
  text-align:center;
}
