body {
  font-family: 'Montserrat', sans-serif;
  background-color:#FFFFFF;
  margin: 0;

}

.grid {
  display: grid;
  grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
  grid-template-rows: 50% 50%;
}

.page{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #FF5200;
  text-decoration: none;
}

header {
  padding: 20px;
  background-color: #141414;
  color: white;
}

h1 {
  font-weight: 600;

}

h2 {
  font-weight: 500;

}

h3 {
  font-weight: 400;
}

ul {
  list-style-type: circle;
  float: left;
}

ol {
  list-style-type: lower-roman;
}

.material-icons {
  color:#FF5200;
}
.footer {

  bottom: 0;
  position: fixed;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
  height: 35px;
  padding-top: 15px;
}
