body {
  font-family: 'Montserrat', sans-serif;
  background-color:#FFFFFF;

}
.page{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #FF5200;
  text-decoration: none;
}

header {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #141414;
  color: white;
  margin: -8px;
}

h1 {
  font-weight: 600;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 500;

}

h3 {
  text-align: center;
  font-weight: 400;
}

ul {
  list-style-type: circle;
  float: left;
}

ol {
  list-style-type: lower-roman;
}

.material-icons {
  color:#FF5200;
  font-size: 100px;

}
