  {% include header.html %}
<html>

<head>
  {% include head.html %}
  <title>About</title>
  <link rel="stylesheet" href="static/css/styleguide.css"/>
  <link rel="stylesheet" href="static/css/about.css"/>
</head>
<body>
  <div class= "grid">
    <div class= "box_about">
      <h3>About</h3>
      <p>dkd ddfndf ddfndfnkdf df dfndffdndfn dfdfhidfjdfsnkdfs soidfiojfwenfwewf fefw fen efwnfewnwf fnrf fenrerfrer oen</p>
    </div>
    <div class= "box_listen">
      <h3>Listen</h3>
      <p>dkd ddfndf ddfndfnkdf df dfndffdndfn dfdfhidfjdfsnkdfs soidfiojfwenfwewf fefw fen efwnfewnwf fnrf fenrerfrer oen</p>
    </div>
    <div class= "box_vote">
      <h3>Vote</h3>
      <p>dkd ddfndf ddfndfnkdf df dfndffdndfn dfdfhidfjdfsnkdfs soidfiojfwenfwewf fefw fen efwnfewnwf fnrf fenrerfrer oen</p>
    </div>
    <div class= "box_update">
      <h3>Update</h3>
      <p>dkd ddfndf ddfndfnkdf df dfndffdndfn dfdfhidfjdfsnkdfs soidfiojfwenfwewf fefw fen efwnfewnwf fnrf fenrerfrer oen</p>
    </div>
    <div class= "box_profile">
      <h3>A</h3>
      <p>dkd ddfndf ddfndfnkdf df dfndffdndfn dfdfhidfjdfsnkdfs soidfiojfwenfwewf fefw fen efwnfewnwf fnrf fenrerfrer oen</p>
    </div>
  </div>

  {% include footer.html %}
</body>
  </html>
