<html>
<title>About</title>
<head>
  <link rel="stylesheet" href="static/css/styleguide.css"/>
  <link rel="stylesheet" href="static/css/about.css"/>
  <link rel="stylesheet" href="static/css/db_schema.sql"/>
</head>
<body>
  <h1 id="tag">Update your Addiction</h1>
  <h3 id="listen">Listen </h3>
  <p id="song">10 seconds of Song </p>
  <ul>

          {% for song in songs %}
        <li> {{ song.title }} </li>
            {% end for %}


    </ul>
  <h3 class="red-text"> Vote </h3>
  <p id="tag"> Vote to include in your list </p>
  <h3 class="red-text"> Profile </h3>
  <p> Upload to profile </p>
  <h3 class="red-text"> Update </h3>
  <p> Find new tunes </p>
  <h2> snippr </h2>
</body>
</html>
