


<footer>
<!--<div class="contact">
  <span> <a href="/contact"> Contact </a> </span>
</div> -->

<div class="about">
  <span> <a href="/about"> About </a> </span>
</div>

<div class="middle">
  <div class='footer-logo'>
    <!-- change to material icons -->
    <img src="/static/images/logoorangesquare.png" alt="logo here" class="logo">
    <h1>Snippr</h1>
  </div>
    <span class="copyright"> &copy; Group 5</span>
</div>


<div class="icons">
  <i class="fab fa-facebook" aria-hidden="true"></i>

  <i class="fab fa-twitter" aria-hidden="true"></i>

  <i class="fab fa-instagram" aria-hidden="true"></i>

</div>
</footer>
