
<link rel="stylesheet" href="static/css/footer.css"/>

<footer>
<div class="contact">
  <span> <a href="/contact"> Contact </a> </span>
  <span> Help </span>
</div>

<div class="about">
  <span> <a href="/about"> About </a> </span>
</div>

<div class="middle">
  <span> 'logo' Snippr</span>
</div>

<div class="footer">
  <span> facebook_icon </span>
</div>

<div class="copyright">
  <span> Copyright Group 5</span>
</div>

<div class="icons">
  <i class="fab fa-facebook" aria-hidden="true"></i>

  <i class="fab fa-twitter" aria-hidden="true"></i>

  <i class="fab fa-instagram" aria-hidden="true"></i>

</div>
</footer>
