<!DOCTYPE html>
<head>
  <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,800" rel="stylesheet">
  <link href="/static/css/styleguide.css" rel="stylesheet" />
  <link href="/static/css/header.css" rel="stylesheet" />
  <link href="/static/css/footer.css" rel="stylesheet" />
</head>
<body>
  <header>
    <div class='header-logo'>
<!-- change to material icons -->
      <img src="/static/images/logo.png" alt="logo here" class="logo">
      <h1>Snippr</h1>
    </div>
    <div class="header-user">
      <h2>Username</h2>
      <img class="profile_pic" src="/static/images/profile_pic.png" alt="profile pic">
    </div>
  </header>
</body>
