<!DOCTYPE html>
<head>
  <link href="../static/css/header.css" rel="stylesheet" />
  <link href="../static/css/profile.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,800" rel="stylesheet">
  <link href="../static/css/styleguide.css" rel="stylesheet" />
</head>
<body>
  <header>
    <div class='header-logo'>
      <img src="/static/images/logo.svg" alt="logo here" class="logo">
      <h1>Snippr</h1>
    </div>
    <div class="header-user">
      <h2>PROFILE PIC</h2>
      <h2>Username</h2>
    </div>


  </header>
</body>
