<!DOCTYPE html>

<head>
  <script></script>
<Title>Song Player</Title>
<link href="/static/css/home.css" rel="stylesheet" />
<link href="/static/css/styleguide.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<h2><a href="/"> Return to Index</a></h2>
<h1>{{ music["title"] }}</h1>
<ul>
    <li id = 'musicTitle'>{{ music["title"] }}</li>
    <li id = 'musicArtist'>{{ music["artist"] }}</li>
    <li id = 'musicAlbum'>{{ music["album"] }}</li>
    <li id = 'musticTags'>{{ music["tags"] }}</li>
</ul>
<figure>
    <figcaption>This will be Album Cover</figcaption>
</figure>
<h1>Users Who Liked This:</h1>
<ul>
    <li>Bob</li>
    <li>Cindy</li>
    <li>Jelly</li>
    <li>JimJim</li>
    <li>jamjam</li>
    <li>Em</li>
    <li>Sam</li>
    <li>Billy</li>
    <li>Bob</li>
</ul>
<button><i class="material-icons">thumb_down</i></button>
<button><i class="material-icons">thumb_up</i></button>
</body>
