<!DOCTYPE html>
<head>
  {% include head.html %}
  <title>Snippr</title>
  <link href="/static/css/bar.css" rel="stylesheet" />
  <link href="/static/css/home.css" rel="stylesheet" />

</head>
<body>
  {% include header.html %}
  <div class = "page">
    <div class="song_info">
      <h2>Song Information:</h2>
      <div>
          <p id = "musicTitle">{{ music["title"] }}</p>
          <p id = "musicArtist">{{ music["artist"] }}</p>
      </div>
    </div>
    <div class="cover">
      <img id="albumCover" src ="/static/images/acdc.jpg" alt="This will be Album Cover">
      <div id="bar">
        <div id="progressBar"></div>
      </div>
      <div class="music" id="audioPlayerDiv">
        <audio id="audioPlayer" class="audioPlayer"
               src="/static/mp3/BlankSpace.mp3" preload>
          Your browser does not support the <code>audio</code> element.
        </audio>
        <script src="/static/js/getsnippet.js"></script>
        <script src="/static/js/customprogressbar.js"></script>
      </div>
      <button id="voteDown"><i class="material-icons">thumb_down</i></button>
      <button id="voteUp"><i class="material-icons">thumb_up</i></button>
    </div>
    <div class="users_liked">
      <h2>Users Who Liked This:</h2>
      <ul class="user_list">
        {% for i in range(5) %}
        <li id = "ulike{{ str(i) }}">{{ ["Bob", "JamJam", "Jelly", "Cindy", "Sam"][i] }}</li>
        {% end for %}
      </ul>
    </div>
  </div>
  {% include footer.html %}
   <script>
    downButton = document.getElementById("voteDown");
    upButton = document.getElementById("voteUp");
    downButton.addEventListener('onclick',animate);
    downButton.addEventListener('onclick', sendVote(downButton))
    upButton.addEventListener('onclick',sendVote(upButton))
    function sendVote(button) {
      alert('wait this ACTUALLY worked??')
      vote = button.id == "voteUp" ? 1 : 0;
      fetch("/vote?user=0&song=" + (currentSongId) + "&vote=" + vote).then(
        (resp) => resp.json()).then(function(data) {
        // Do what you need to move to next song
        nextSong();
        playNextSnippet();
        if (data["success"] == false) {
          alert("failed");
        }
        const nameArray = ["Bob", "Cindy", "Jelly", "JimJim", "JamJam", "Em", "Sam", "Billy"];
        nameArray.sort(() => Math.random() * 2 - 1);

        for(var i = 0; i < 5; i++) {
          document.getElementById("ulike" + i.toString()).innerHTML = nameArray[i];
        }
      })
    }
    function animate(){
      console.log("THIS IS BEING CALLED")

    }
  </script>
</body>
