<!DOCTYPE html>
<html>
<head>
  <link href="/static/css/profile.css" rel="stylesheet"/>
  <link href="/static/css/styleguide.css" rel="stylesheet" />
</head>
<body class='grid'>
  <div class="box">
    <img src="https://pre00.deviantart.net/67de/th/pre/i/2013/005/7/9/circle_profile_by_pdogkasper-d5qkroq.png" />
    <h4 class='name'>Jimmy Neutron</h4>
  </div>
  <div class="likebox">
    <h3>likes</h3>
    <div>
      <h4 class="l_title">Title:</h4>
      <h4 class="l_artist">Artist/s:</h4>
      <h4 class="l_time">Time:</h4>
    </div>
  </div>
  <div class="dislikebox">
    <h3>dislikes</h3>
    <div>
      <h4 class="d_title">Title:</h4>
      <h4 class="d_artist">Artist/s:</h4>
      <h4 class="d_time">Time:</h4>
    </div>
  </div>

</body>
</html>
